<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    <div class='container'>
      <h1>HOME</h1>
      <h2>Hello World!</h2>
      <h1>cycu web page tie is {{title}}</h1>
      <form action="/home/welcome/" method="GET" autocomplete="off">
        My name is <input type="text" name="name" id='keyin'>.<br><br>
         I am a <input type="submit" value="boy" class="button"
        name="gender">/<input type="submit" value="girl" class="button" name="gender">
        </form>
    </div>
  </body>
</html>

