{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>碳志郎 | SETTINGS</title>
    <style>
        @import url('{% static "css/publicversion.css"%}');
        @import url('{% static "css/settings.css"%}');
        @import url('{% static "css/set-alarm.css"%}');
        @import url('{% static "css/bt.css"%}');
    </style>
</head>

<body>
    <div class="bg">
        <header>
            <div class="ho">
                <a href="../index/"><img src="{% static 'img/logo.png'%}" alt="logo圖" class="logo"></a>
                <a href="../noticenter/"><img src="{% static 'img/alarm2.png'%}" alt="alarm鍵" class="alarm"></a>
            </div>
            <div class="splitline"></div>
        </header>
        <div class="none2"></div>
        <main>
            <div class="settitle">設定中心</div>
            <a href="../helpcenter/">
                <div class="setting">Q & A / 問題回報</div>
            </a>

            <!--提醒開關-->
            <div class="of">
                <label class="title">提醒</label>
                <div class="switch">
                    <input class="switch-checkbox" id="switchID1" type="checkbox" name="switch-checkbox">
                    <label class="switch-label" for="switchID1">
                        <span class="switch-txt" turnOn="開" turnOff="關"></span>
                        <span class="switch-Round-btn"></span>
                    </label>
                </div>
            </div>

            <!--鈴聲-->
            <div class="of">
                <label class="title">提醒鈴聲</label>
                <label class="ring">默認鈴聲 ＞</label>
            </div>

            <!--系統資訊-->
            <div class="of">
                <label class="title">系統資訊</label>
                <label class="version">v1.95.62.5.63.10</label>
            </div>
        </main>

        </main>

        <footer>
            <div class="fo">
                <a href="../index/"><img src="{% static 'img/home.png'%}" alt="home鍵" class="f"></a>
                <a href="../member/"><img src="{% static 'img/member.png'%}" alt="member鍵" class="f"></a>
                <a href="../ccmgt/"><img src="{% static 'img/creditcard.png'%}" alt="creditcard鍵" class="f"></a>
                <a href="../shop/"><img src="{% static 'img/store.png'%}" alt="store鍵" class="f"></a>
                <a href="../settings/"><img src="{% static 'img/setting.png'%}" alt="setting鍵" class="f"></a>
            </div>
        </footer>
    </div>

</body>

</html>