{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>碳志郎 | YOUR FRIENDS</title>
    <style>
        @import url('{% static "css/publicversion.css"%}');
        @import url('{% static "css/myfriends.css"%}');
    </style>
</head>

<body>
    {% if messages %}
        <script>
            {%for msg in messages %}
            alert('{{msg.message}}');
            {% endfor %}
        </script>
    {% endif %}
    <div class="bg">
        <header>
            <div class="ho">
                <a href="../index/"><img src="{% static 'img/logo.png'%}" alt="logo圖" class="logo"></a>
                <a href="../noticenter/"><img src="{% static 'img/alarm2.png'%}" alt="alarm鍵" class="alarm"></a>
            </div>
            <div class="splitline"></div>
        </header>
        <div class="none2"></div>
        <main>
            <!--invite/add bt-->
            <a href="../addfri/"><div class="addbt">加入 / 邀請好友</div></a>

            <!--friends-->
            <div class="frisof">
                {%for friend in friends %}
                <form action="../deletefriend/" method="get">
                <div class="fri">
                    <div class="fripic"><img src="{% static friend.friendImg%}" style="height:100%;width:100%"></div>
                    <label class="friname">{{friend.friendName}}</label>
                    <input type="hidden" value="{{ forloop.counter }}" name="id">
                    <input type="submit" value="刪除" class="fribt">
                </div>
                </form>
                {% endfor %}
            </div>

        </main>

        <footer>
            <div class="fo">
                <a href="../index/"><img src="{% static 'img/home.png'%}" alt="home鍵" class="f"></a>
                <a href="../member/"><img src="{% static 'img/member.png'%}" alt="member鍵" class="f"></a>
                <a href="../ccmgt/"><img src="{% static 'img/creditcard.png'%}" alt="creditcard鍵" class="f"></a>
                <a href="../shop/"><img src="{% static 'img/store.png'%}" alt="store鍵" class="f"></a>
                <a href="../settings/"><img src="{% static 'img/setting.png'%}" alt="setting鍵" class="f"></a>
            </div>
        </footer>
        </div>
</body>

</html>