{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>碳志郎 | SYSTEM VERSION</title>
    <style>
        @import url('{% static "css/publicversion.css"%}');
        @import url('{% static "css/noticenter.css"%}');
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static 'js/noticenter.js'%}"></script>

</head>

<body>
    <div class="bg">
        <header>
            <div class="ho">
                <a href="../index/"><img src="{% static 'img/logo.png'%}" alt="logo圖" class="logo"></a>
                <a href="../noticenter/"><img src="{% static 'img/alarm2.png'%}" alt="alarm鍵" class="alarm"></a>
            </div>
            <div class="splitline"></div>
        </header>
        <div class="none2"></div>
        <main>
            <div class="of">
                <!--q1-->
                <div class="wholeq">
                    <div class="question" id="q1">
                        [公告]
                    </div>
                    <div class="panel" id="p1">
                        <label>12345678900987654321</label>
                    </div>
                </div>

                <!--q2-->
                <div class="wholeq">
                    <div class="question" id="q2">
                        [公告] 系統相關維護公告
                    </div>
                    <div class="panel" id="p2">
                        <label>[最後更新日期: 2022/12/27 09:00]</label>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="fo">
                <a href="../index/"><img src="{% static 'img/home.png'%}" alt="home鍵" class="f"></a>
                <a href="../member/"><img src="{% static 'img/member.png'%}" alt="member鍵" class="f"></a>
                <a href="../ccmgt/"><img src="{% static 'img/creditcard.png'%}" alt="creditcard鍵" class="f"></a>
                <a href="../shop/"><img src="{% static 'img/store.png'%}" alt="store鍵" class="f"></a>
                <a href="../settings/"><img src="{% static 'img/setting.png'%}" alt="setting鍵" class="f"></a>
            </div>
        </footer>
        </div>
</body>

</html>