{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>碳志郎 | POINT RECORD</title>
    <style>
        @import url('{% static "css/publicversion.css"%}');
        @import url('{% static "css/pointrecord.css"%}');
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static 'js/pointrecord.js'%}"></script>
</head>

<body>
    {% if messages %}
        <script>
            {%for msg in messages %}
            alert('{{msg.message}}');
            {% endfor %}
        </script>
    {% endif %}
    <div class="bg">
        <header>
            <div class="ho">
                <a href="../index/"><img src="{% static 'img/logo.png'%}" alt="logo圖" class="logo"></a>
                <a href="../noticenter/"><img src="{% static 'img/alarm2.png'%}" alt="alarm鍵" class="alarm"></a>
            </div>
            <div class="splitline"></div>
        </header>
        <div class="none2"></div>
        <!--點數總額-->
        <main>
            <div class="ptotal"><label>點數總額：</label><label>{{point}}</label></div>
            <div class="spiltline2"></div>
        </main>

        <!--歷史紀錄-->
        <section>
            {%for consume in consumes %}
                {% if consume.consumeName == "跑車" %}
                    <div class="wholer">
                        <div class="record" id="r{{ forloop.counter }}">
                            <div class="pointpic">P</div>
                            <div class="reinfo"><label class="info1">碳點奢享受-汽車</label><br><label class="info2">{{consume.starttime|date:"Y-m-d H:i:s"}}</label>
                            </div>
                            <div class="cal">-{{consume.usePt}}</div>
                        </div>

                        <!--展開明細-->
                        <div class="panel" id="p{{ forloop.counter }}">
                            <h4 class="p">詳細資訊</h4>
                            <ul>
                                <li>碳稅：{{consume.usePt}}</li>
                                <li>使用單位：{{consume.consumeName}}</li>
                                <li>車子名稱:{{consume.carName}}</li>
                                <li>車牌號碼:{{consume.carNum}}</li>
                                <li>消費總時長:{{consume.useSec}}秒</li>
                                
                            </ul>
                        </div>
                    </div>
                {% else%}
                    <div class="wholer">
                        <div class="record" id="r{{ forloop.counter }}">
                            <div class="pointpic">P</div>
                            <div class="reinfo"><label class="info1">碳點兌換區</label><br><label class="info2">{{consume.starttime|date:"Y-m-d H:i:s"}}</label>
                            </div>
                            <div class="cal">-{{consume.usePt}}</div>
                        </div>

                        <!--展開明細-->
                        <div class="panel" id="p{{ forloop.counter }}">
                            <h4 class="p">詳細資訊</h4>
                            <ul>
                                <li>碳稅：{{consume.usePt}}</li>
                                <li>使用單位：{{consume.consumeName}}</li>
                                <li>使用份量:{{consume.piece}}份</li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </section>

        <footer>
            <div class="fo">
                <a href="../index/"><img src="{% static 'img/home.png'%}" alt="home鍵" class="f"></a>
                <a href="../member/"><img src="{% static 'img/member.png'%}" alt="member鍵" class="f"></a>
                <a href="../ccmgt/"><img src="{% static 'img/creditcard.png'%}" alt="creditcard鍵" class="f"></a>
                <a href="../shop/"><img src="{% static 'img/store.png'%}" alt="store鍵" class="f"></a>
                <a href="../settings/"><img src="{% static 'img/setting.png'%}" alt="setting鍵" class="f"></a>
            </div>
        </footer>
        </div>
</body>

</html>