/**{  
    outline: solid red 1px;
}*/

/*第一名*/
main{
    width: 100%;
}
.fstout{
    margin: 10px auto 50px;
    display: table;
}
.trophy{
    height: 100px;
    width: 100px;
    background-image: url('../img/trophy.png');
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
}
.fstpic{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-image: url('../img/profilepic.jpg');
    background-size: cover;
    display: table-cell;
    vertical-align: middle;
}
.fstinfo{
    width: 140px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}
.fstname{
    font-size: 30px;
    font-weight: bolder;
}
.fstpoint{
    font-size: 20px;
    line-height: 30px;
}

/*前5排行*/
.lout{
    width: 320px;
    margin: 30px auto;
}
.leaderb{
    background-color: #cacaca;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    line-height: 40px;
}
.ranking{
    font-size: 25px;
    font-weight: bolder;
}
.name{
    font-size: 20px;
}
.point{
    float: right;
    font-size: 20PX;
    font-weight: bolder;
}

.none{
    height: 80px;
}