.main{
    width: 100%;
}
.perconsent{
    width: 90%;
    margin: 10px auto;    
}
.title{
    text-align: center;
}
ul{
    margin-left: 20px;
}
.none{
    height: 80px;
}
.bt{
    width: 80px;
    font-size: 18px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px auto;
}